@import url('https://fonts.googleapis.com/css?family=Sofia');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&effect=shadow-multiple|emboss|3d');


:root {
  --background: rgba(0, 214, 170, .85);
  --main-radius: 5px;
  --main-padding: 5px;
}

*, *::before, *::after {
  box-sizing: border-box;
}
  
body {
    width: 90%;
margin: 0 auto;
}

/* Style the header */
.header {
    background-color: #F1F1F1;
    text-align: center;
    font-family: 'Martel', serif;
    padding: 1px; /* create 20px space around header */
    font-size: 50px;
  }

/* The navbar container */
.topnav {
    padding-left: 50px;
    overflow: hidden;  /* The overflow is clipped, and the rest of the content will be invisible */
    background-color: #333;
    display: flex
  }
  
  /* Navbar links */
  .topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
 
/* Links - change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

.topnav li:first-child {
  margin-right: auto;
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

.footer {
background-color: #F1F1F1;
text-align: center;
padding: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
.column {
    width: 100%;
}
}